<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>page d'ajout de clients</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}"/>
</head>
<body>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading"> Saisie d'un client</div>
				<div class="panel-body">
					<form th:action="@{enregistrerClient}" method="post">
					<div class="form-group">
						<label class="control-label"> nom:</label>
						<input class="form-control" type="text" name="nom" th:value="${client.nom}" />
						<span class="error" th:errors="${client.nom}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">prenom:</label>
						<input class="form-control" type="text" name="prenom"  th:value="${client.prenom}"  />
						<span class="error" th:errors="${client.prenom}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">email:</label>
						<input class="form-control" type="text" name="email"  th:value="${client.email}" />
						<span class="error" th:errors="${client.email}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">adresse:</label>
						<input class="form-control" type="text" name="adresse"  th:value="${client.adresse}" />	
					</div>
					<div class="form-group">
						<label class="control-label">telephone:</label>
						<input class="form-control" type="text" name="telephone"  th:value="${client.telephone}" />	
					</div>
					<button type="submit" class="btn btn-primary">enregistrer</button>
					</form>
				</div>
			</div>
		</div>

</body>
</html>