<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>client</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css" />
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{../css/style.css}" />

</head>
<body>
	<!-- header -->
	<nav>
		<div class="toggle">
			<i class="fas fa-bars menu"></i>
		</div>
		<ul>
			<li><a th:href="@{/}" class="logo">Fast food chic</a></li>
			<li><a th:href="@{clients}">Consulter
					les clients</a></li>
			<li><a
				th:href="@{consulterProduits}">Consulter
					les produits</a></li>
		</ul>
	</nav>
	<script th:src="@{css/script.js}"></script>
	<!--end header-->
	<div class="container">
		<form th:action="@{clients}" method="get">
			<label>Mot Clé:</label> <input type="text" name="mc" th:value="${mc}" />
			<button class="btn btn-primary">chercher</button>
		</form>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOM</th>
					<th>PRENOM</th>
					<th>EMAIL</th>
					<th>ADRESSE</th>
					<th>TELEPHONE</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c:${listeClient}">
					<td th:text="${c.idClient}">idClient</td>
					<td th:text="${c.nom}">nom</td>
					<td th:text="${c.prenom}">prenom</td>
					<td th:text="${c.email}">email</td>
					<td th:text="${c.adresse}">adresse</td>
					<td th:text="${c.telephone}">telephone</td>
					<td><a onclick="return confirm('êtes vous sûr de suprimer')"
						th:href="@{deleteClients(id=${c.idClient},page=${pageCourante},size=${size},mc=${mc})}">Suprimer</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<ul class="nav nav-pills">
			<!-- status affiche des information sur un element du tableu ex {index = 0, count = 1, size = 5, current = 0} -->
			<li th:each="p,status:${pages}"
				th:class="${pageCourante}==${status.index}?'nav-link active':''">
				<span th:text="a" style="visibility: hidden"></span> <a
				th:href="@{clients(page=${status.index},size=${size},mc=${mc})}"
				th:text="${status.index}"> </a>
			</li>

		</ul>
	</div>
	<!--pied-->
	<footer class="footer p-t-1">

		<div class="container">
			<div class="pull-right">
				<nav class="navbar" style="background: transparent; color: black;">
					<nav class="nav navbar-nav pull-xs-left">
						<a class="nav-item nav-link" href="#">Accueil</a> <a
							class="nav-item nav-link" href="#">9 rue de la liberté à
							Lille</a> <a class="nav-item nav-link" href="">Téléphone 03 2O 10
							20 30</a>
					</nav>
				</nav>
			</div>

			<a href="#"><i class="fa fa-facebook-official fa-2x">facebook</i></a>
			<a href="#"><i class="fa fa-pinterest-p fa-2x">pinterest</i></a> <a
				href="#"><i class="fa fa-twitter fa-2x">twitter</i></a> <a href="#"><i
				class="fa fa-flickr fa-2x">flickr</i></a> <a href="#"><i
				class="fa fa-linkedin fa-2x">linkedin</i></a>
		</div>
	</footer>

	<!-- end pied-->
</body>
</html>