body,html {
    padding: 0;
    margin: 0;
    color:black;
    background-color: #c0c0c0;
   /* background-image:url(../images/resto.jpg);
    background-attachment:fixed;*/
    }
a,a:hover{
    text-decoration: none;
}
a{
    color: white;
}
/* header*/
.header{
  background-color: rgb(117, 60, 7); 
  height: 70px;
  line-height: 70px;
  
}
.logo{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: blod;
    letter-spacing: 1px;
    float: left;
}
.menu{
    color: rgb(255, 255, 255);
    margin-right: 20px;
    float: right;
}
.menu a:hover{
    color: rgb(54, 241, 30);
}
/* banniere*/
.banniere{
    width: 100%;
    max-width: 100%;
}
.ban{
    width: 100%;
    max-width: 100%;
}
.ban img{
    width: 100%;
    max-width: 100%;
}
/* a propos*/
.apropos {
   
  }
  /* pied*/
footer {
            background-color: black;
           position: static; bottom: 0; left: 0; right: 0
        }
.error{
	color:#ff0080;
}
 