
body, html {
	color: black;
	background-color: #c0c0c0;
	font-family:tahoma, geneva, sans-serif;
 
}

a, a:hover {
	text-decoration: none;
}
a{
	color: #ffffff;
}

/* header*/
.header {
	background-color: rgb(117, 60, 7);
	height: 70px;
	line-height: 70px;
}

.logo {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: blod;
	letter-spacing: 1px;
	float: left;
}

.menu {
	color: rgb(255, 255, 255);
	margin-right: 20px;
	
}

.menu a:hover {
	color: #ffffff5424130;
}

.ban {
	width: 100%;
	max-width: 100%;
}

.ban img {
	width: 100%;
	max-width: 100%;
}

/* pied*/
.footer {
	background: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 50px;
	height: 50px;
}


.panier {
	
	color: #804040;
	font-size: 1px;
}

nav {
	background: #804040;
	width: 100%;
}

ul {
	padding: 0;
	margin: 0 auto;
	width: 80%;
}

ul li {
	list-style: none;
	display: inline-block;
	padding: 20px;
}

ul li  {
	color: #804040;
	text-decoration: none;
}
.noire{
	background: black;
}
.error{
	color:red;
}
.cadre{
text-shadow: #FC0 1px 0 10px;