<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>page d'administration</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="static/css/style.css" th:href="@{css/style.css}"/>
<script type="text/javascript" th:src="@{javaScript/verifAdmin.js}"></script>
</head>
<body>
	<h1> Veulliez vous conecter:</h1>
	<div class="container">
		<div class="login-box nav" >
				<div class="login-body col-md-6">
					<form class="form-group" th:action="@{admin/dispatcherAdmin}" method ="get" id ="se conecter">
					<label>NOM:</label>
					<input type="text" class="form-control" name="nom" id="nom"/>
					<label>PRENOM:</label>
					<input type="text" class="form-control" name="prenom" id="prenom"/>
					<label>IDENTIFIANT:</label>
					<input type="text" class="form-control" name="login" id="login"/>
					<label>MOT DE PASSE:</label>
					<input type="password" class="form-control" name="password" id="password"/>
					<input type="button" value="SE CONECTER" class="form-control btn btn-success" onclick="verif()"/>
				</form>
			</div>
			<div class="login-body col-md-6">
				 <article >
            <h2> page privée</h2>
            <p>
             	page destiné aux administrateurs de ce site, pour se conecter a la gestion du site il faut imperativement
             	 les identifiants et
             	les mots de passe ,si vous n'etes pas autoriser merci de quité cette page 
            </p>
          </article>
			</div>
		</div>
	</div>
	
</body>
</html>