<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>page d'accueil</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" />
</head>
<body>
	<!--header-->
	<nav>
		<div class="toggle">
			<i class="fas fa-bars menu"></i>
		</div>
		<ul>
			<li><a th:href="@{/}" class="logo">Fast Food Chic</a></li>
			<li><a th:href="@{/pages/produits}">Consulter nos produits</a></li>
			<li><a th:href="@{/pages/menus}">Consulter nos menus</a></li>
			<li class="menu"><a href="#">se conecter</a></li>
		</ul>
	</nav>
	<script th:src="@{css/script.js}"></script>
	<!--end header-->
	<!-- banniere -->
	<section class="row">
	  <div class="col-lg-12 container" >
	  <div class="inner_banner">
			<h1>Bienvenue a Fast Food Chic</h1>
		</div>
		<p>
		  Je suis passionné par les <strong>tigres</strong> depuis très longtemps. Ce site a été construit en <em>hommage à ces merveilleux félins...</em><br>
		  Je fais partie de la <abbr title="Société des Amoureux des Tigres">SAT</abbr> qui a pour but de faire connaître ces splendides animaux. 
		</p>
		<p>Voici ce qu'en dit le wikipedia :</p>
		<blockquote>
		  Le Tigre (Panthera tigris) est un mammifère carnivore de la famille des félidés (Felidae) du genre Panthera. 
		Aisément reconnaissable à sa fourrure rousse rayée de noir, il est le plus grand félin sauvage et l'un des plus grands carnivores du monde. 
		L'espèce est divisée en neuf sous-espèces possédant des différences mineures en termes de taille ou de comportement. Superprédateur, 
		il chasse principalement les cerfs et les sangliers, bien qu'il puisse s'attaquer à des proies de taille plus importante comme les buffles. 
		Jusqu'au XIXe siècle, le Tigre était réputé mangeur d'homme. La structure sociale des tigres en fait un animal solitaire ; le mâle possède 
		un territoire qui englobe les domaines de plusieurs femelles et ne participe pas à l'éducation des petits.<br>
		  <small class="pull-right">Wikipedia</small><br>
		</blockquote>
	  </div>
	</section>
	<section class="container banniere">
		<div class="ban">
			<img th:src="@{images/resto.jpg}" alt="banniere du site" />
		</div>
	</section>
	<!--end banniere-->
	<!-- a propos -->
	<section class="container pied" id="contact">
		<div class="row">
			<form role="form" class="col-md-9 go-right">
				<h2>Contacter nous</h2>
				<div class="form-group">
					<input id="name" name="name" type="text" class="form-control"
						required> <label for="name">Votre nom et prenom</label>
				</div>
				<div class="form-group">
					<input id="phone" name="phone" type="tel" class="form-control"
						required> <label for="phone">telephone</label>
				</div>
				<div class="form-group">
					<textarea id="message" name="phone" class="form-control" required></textarea>
					<label for="message">Message</label>
				</div>
			</form>
		</div>

	</section>
	<!--end a propos-->
	<!--pied-->
	
<footer >

		<div class="container-fluid noire">
			<div class="pull-right">
				<nav class="navbar" style="background: transparent; color: black;">
					<nav class="nav navbar-nav pull-xs-left">
						<a class="nav-item nav-link" href="#">Accueil</a> <a
							class="nav-item nav-link" href="#">9 rue de la liberté à
							Lille</a> <a class="nav-item nav-link" href="">Téléphone 03 2O 10
							20 30</a>
					</nav>
				</nav>
			</div>
				<a href="#"><i class="fa fa-facebook-official fa-2x">facebook</i></a>
				<a href="#"><i class="fa fa-pinterest-p fa-2x">pinterest</i></a> <a
					href="#"><i class="fa fa-twitter fa-2x">twitter</i></a> <a href="#"><i
					class="fa fa-flickr fa-2x">flickr</i></a> <a href="#"><i
					class="fa fa-linkedin fa-2x">linkedin</i></a>
		
		</div>
	</footer>
	<!-- end pied-->
</body>
</html>