<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>page d'accueil</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
</head>
<body>
    <!--header-->
     <header class="container-fluid header">
      <div class="container">
        <a href="#" class="logo">Fast food chic</a>
        <nav class="menu">
          <a href="#">Consulter nos produits</a>
          <a href="#">Consulter nos menus</a>
          <a href="#">se conecter</a>
        </nav>
        
      </div>
     </header>
    <!--end header-->
    <!-- banniere -->
    <section class="container-fluid banniere">
      <div class="ban">
        <img src="../static/css/resto.jpg" alt="banniere du site"/>
      </div>
      <div class="inner_banner">
        <h1>Bienvenue a Fast food chic  </h1>
        <button class="btn btn-custom"> Contacter Fast food chic </button>
      </div>
    </section>
    <!--end banniere-->
     <!-- a propos -->
     <section class="container-fluid apropos">
      <div class="container">
        <div class="row">
          <article class=" col-md-4 col-log-4 col-xs-12 col-sm-12">
            <h2> titre 1</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam necessitatibus, doloremque suscipit praesentium cumque mollitia, voluptatibus enim iusto repellendus, 
              nostrum facere quia quas repudiandae officiis architecto voluptatem numquam quasi sed.
            </p>
          </article>
            <article class=" col-md-4 col-log-4 col-xs-12 col-sm-12">
            <h2> titre 2</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam necessitatibus, doloremque suscipit praesentium cumque mollitia, voluptatibus enim iusto repellendus, 
                nostrum facere quia quas repudiandae officiis architecto voluptatem numquam quasi sed.
            </p>
          </article>
          <article class=" col-md-4 col-log-4 col-xs-12 col-sm-12">
              <h2> titre 3</h2>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam necessitatibus, doloremque suscipit praesentium cumque mollitia, voluptatibus enim iusto repellendus, 
                  nostrum facere quia quas repudiandae officiis architecto voluptatem numquam quasi sed.
              </p>
            </article>
        </div>
      </div>
      </section>
      <!--end a propos-->
      <!--pied-->
      <footer class="container-fluid pied">
         <div class="row">
          <form role="form" class="col-md-9 go-right">
            <h2>Contacter nous</h2>
            <div class="form-group">
            <input id="name" name="name" type="text" class="form-control" required>
            <label for="name">Votre nom et prenom</label>
          </div>
          <div class="form-group">
            <input id="phone" name="phone" type="tel" class="form-control" required>
            <label for="phone">telephone</label>
          </div>
          <div class="form-group">
            <textarea id="message" name="phone" class="form-control" required></textarea>
            <label for="message">Message</label>
          </div>
          </form>
        </div>
      </footer>
<!-- end pied-->
</body>
</html>