<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>page d'accueil</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css" />
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>
	<!--header-->
	<nav>
		<div class="toggle">
			<i class="fas fa-bars menu"></i>
		</div>
		<ul>
			<li><a th:href="@{/}" class="logo">Fast food chic</a></li>
			<li><a th:href="@{/pages/produits}">Consulter nos produits</a></li>
			<li><a th:href="@{/pages/menus}">Consulter nos menus</a></li>
			<li class="menu"><a href="#">se conecter</a></li>
		</ul>
	</nav>
	<script th:src="@{css/script.js}"></script>
	<!--end header-->
	<!-- banniere -->
	<section class="container-fluid banniere">
		<div class="ban">
			<img th:src="@{images/resto.jpg}" alt="banniere du site" />
		</div>
		<div class="inner_banner">
			<h1>Bienvenue a Fast food chic</h1>
		</div>
	</section>
	<!--end banniere-->
	<!-- a propos -->
	<section class="container-fluid apropos">
		<div class="container">
			<div class="row">
				<article class=" col-md-4 col-log-4 col-xs-12 col-sm-12">
					<h2>titre 1</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Laboriosam necessitatibus, doloremque suscipit praesentium cumque
						mollitia, voluptatibus enim iusto repellendus, nostrum facere quia
						quas repudiandae officiis architecto voluptatem numquam quasi sed.
					</p>
				</article>
				<article class=" col-md-4 col-log-4 col-xs-12 col-sm-12">
					<h2>titre 2</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Laboriosam necessitatibus, doloremque suscipit praesentium cumque
						mollitia, voluptatibus enim iusto repellendus, nostrum facere quia
						quas repudiandae officiis architecto voluptatem numquam quasi sed.
					</p>
				</article>
				<article class=" col-md-4 col-log-4 col-xs-12 col-sm-12">
					<h2>titre 3</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Laboriosam necessitatibus, doloremque suscipit praesentium cumque
						mollitia, voluptatibus enim iusto repellendus, nostrum facere quia
						quas repudiandae officiis architecto voluptatem numquam quasi sed.
					</p>
				</article>
			</div>
		</div>
	</section>
	<section class="container pied" id="contact">
		<div class="row">
			<form role="form" class="col-md-9 go-right">
				<h2>Contacter nous</h2>
				<div class="form-group">
					<input id="name" name="name" type="text" class="form-control"
						required> <label for="name">Votre nom et prenom</label>
				</div>
				<div class="form-group">
					<input id="phone" name="phone" type="tel" class="form-control"
						required> <label for="phone">telephone</label>
				</div>
				<div class="form-group">
					<textarea id="message" name="phone" class="form-control" required></textarea>
					<label for="message">Message</label>
				</div>
			</form>
		</div>

	</section>
	<!--end a propos-->
	<!--pied-->
	<footer class="footer p-t-1">

		<div class="container">
			<div class="pull-right">
				<nav class="navbar" style="background: transparent; color: black;">
					<nav class="nav navbar-nav pull-xs-left">
						<a class="nav-item nav-link" href="#">Accueil</a> <a
							class="nav-item nav-link" href="#">9 rue de la liberté à
							Lille</a> <a class="nav-item nav-link" href="">Téléphone 03 2O 10
							20 30</a>
					</nav>
				</nav>
			</div>

			<a href="#"><i class="fa fa-facebook-official fa-2x">facebook</i></a>
			<a href="#"><i class="fa fa-pinterest-p fa-2x">pinterest</i></a> <a
				href="#"><i class="fa fa-twitter fa-2x">twitter</i></a> <a href="#"><i
				class="fa fa-flickr fa-2x">flickr</i></a> <a href="#"><i
				class="fa fa-linkedin fa-2x">linkedin</i></a>
		</div>
	</footer>

	<!-- end pied-->
</body>
</html>